.list-page{padding:20px 0;text-align:center;}
.list-page a{margin:0 5px;padding:2px 7px;border:1px solid #ccc;background:#f3f3f3;}
.list-page a:hover{background:#e4e4e4;border:1px solid #908f8f;}
.list-page .current{margin:0 5px;padding:2px 7px;background:#f60;border:1px solid #fe8101;color:#fff;}